<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>公司管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/md5.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/times.js"></script>
<script type="text/javascript">	
	var ajaxurl = '{:U("/Admin/Ajax/log")}'
	var regurl = '{:U("/Admin/Register")}'
	function goReg(){
		window.location = regurl;
	}
</script>
<script type="text/javascript" src="__PUBLIC__/js/login.js"></script>
</head>
<body onload="showLeftTime()">
	<div class="login-mask">
		<img class="backimg" src="__PUBLIC__/images/back.jpg">
	</div>
	<div class="top">
		<div class="top-logo">
			<img alt="" src="__PUBLIC__/images/logo.png">
		</div>
		<div class="top-name">
			<div class="top-name-cn">考勤管理系统1.0V</div>
		</div>
		<div class="top-info">
			<div class="top-info-date">
				<label id="show">显示时间的位置</label>
			</div>

		</div>
	</div>
	<div class="login-center">
		<form name="loginform" id="loginform" accept-charset="utf-8" action='{:U("/Admin/Login/login")}' method="post">
			<table class="login-tab" width=100%>
				<tr>
					<th colspan="2">帐号登陆</th>
				</tr>
				<tr>
					<td style="width: 35%; text-align: right">帐号：</td>
					<td><input class="common-text" id="loginname" name="loginname" size="20" value="" type="text"></td>
				</tr>
				<tr>
					<td style="text-align: right">密码：</td>
					<td><input class="common-text" id="password" name="password" size="20" value="" type="password"></td>
				</tr>
				<tr>
					<th colspan="2"><input type="button" class="btn btn-primary btn150" value="登陆" id="login"> <input type="reset" class="btn btn-primary btn150" value="重置"></th>
				</tr>
				<tr style="height: 30px; line-height: 30px;">
					<td colspan="2" style="text-align: center">
						<div id="message">&emsp;</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="login-end">
		<div class="top-info-bottom">
			<a href="{:U('/Admin/Register')}">注册帐号</a>
		</div>
	</div>

</body>
</html>