<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>公司管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/md5.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/times.js"></script>
<script type="text/javascript">	var ajaxurl = '{:U("/Admin/Ajax/reg")}'</script>
<script type="text/javascript" src="__PUBLIC__/js/register.js"></script>
</head>
<body onload="showLeftTime()">
	<div class="login-mask">
		<img class="backimg" src="__PUBLIC__/images/back.jpg">
	</div>
	<div class="top">
		<div class="top-logo">
			<img alt="" src="__PUBLIC__/images/logo.png">
		</div>
		<div class="top-name">
			<div class="top-name-cn">考勤管理系统1.0V</div>
		</div>
		<div class="top-info">
			<div class="top-info-date">
				<label id="show">显示时间的位置</label>
			</div>

		</div>
	</div>
	<div class="login-center">
		<form action='{:U("/Admin/Register/register")}' method="post" id="registerFrom" name="registerFrom" enctype="multipart/form-data">
			<table class="reg-tab" width="100%">
				<tbody>
					<tr>
						<th colspan="2" style="font-size: 28px;">注册帐号</th>
					</tr>
					<tr>
						<td>帐&emsp;&emsp;号：</td>
						<td><input class="reg-tab-input" id="loginname" name="loginname" value="" type="text"></td>
					</tr>
					<tr>
						<td>密&emsp;&emsp;码：</td>
						<td><input class="reg-tab-input" id="loginword" name="loginword" value="" type="password"></td>
					</tr>
					<tr>
						<td>确认密码：</td>
						<td><input class="reg-tab-input" id="loginword2" value="" type="password"></td>
					</tr>
					<tr>
						<th colspan="2"><input type="button" class="btn btn-primary btn150" value="注册" id="register"> <input type="reset" class="btn btn-primary btn150" value="重置"></th>
					</tr>
					<tr>
						<th colspan="2">
							<div id="message">&emsp;</div>
						</th>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div class="login-end">
		<div class="top-info-bottom">
			<a href="{:U('/Admin/Login')}">帐号登陆</a>
		</div>
	</div>
</body>
</html>