
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>公司管理系统</title>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript">
	var ajaxurl = '{:U("/Admin/Verify/verify")}'
</script>
<script type="text/javascript" src="__PUBLIC__/js/admin-verify.js"></script>
</head>
<body>
	<div class="sub-nov">
		&emsp;<a href="{:U('/')}">首页</a>&gt; <a href="{:U('/Admin')}">后台管理</a>&gt; <a href="#">分配角色</a>
	</div>
	<div class="content">
		<table class="table2" width="100%">
			<tbody align="right">
				<tr style="background: #efefef">
					<th width="5%">ID</th>
					<th width="10%">帐号</th>
					<th width="15%">执行操作</th>
				</tr>
				<foreach name='user' item='s'>
				<tr>
					<th>{$s.id}</th>
					<th>{$s.loginname}</th>
					<th><select style="margin-bottom: 5px; height: 26px; font-size: 16px" name="role{$s.id}" id="role{$s.id}">
							<option>未审核</option>
							<foreach name='role' item='r'> <if condition="$r['id'] eq $s['role_id']">
							<option value="{$r.id}" selected="selected">{$r.remark}</option>
							<else />
							<option value="{$r.id}">{$r.remark}</option>
							</if> </foreach>
						</select> <input type="button" class="btn btn-primary" value="通过审核" onclick="javascript:verify('{$s.id}');"></th>
				</tr>
				</foreach>
			</tbody>
		</table>
	</div>
	<div class="dlg-mask"></div>
	<!-- 添加菜单 Start-->
	<div class="dlg-content">正在向服务器提交请求.....</div>
</body>
</html>